include README.md
include requirements.txt
recursive-include docs *.md *.pdf
recursive-include examples *.py *.json
recursive-include hf2l *.py
recursive-include tests *.py
global-exclude *.py[cod]
global-exclude __pycache__
