include README.md
include requirements.txt
include participant_allowlist.example.json
recursive-include docs *.md *.pdf
recursive-include examples *.py
recursive-include hf2l *.py
recursive-include tests *.py
global-exclude *.py[cod]
global-exclude __pycache__
